* {
  box-sizing: border-box;
}

html {
  font-family: "Arial", sans-serif;
  
}

body {
  padding: 1rem;
}

header {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  max-width: fit-content;
}

nav {
  display: flex;
  gap: 2rem;
  font-size: 1.25rem;
}

.nav-links {
  text-decoration: none;
}

.nav-links:hover {
  text-decoration: underline;
}

section {
  width: fit-content;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
}

h2 {
  margin-bottom: 0.5rem;
}

p {
  margin: 0;
}

.sprint-links {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

a {
  color: black;
}

ul {
  margin-top: 0;
}

li {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.h1-container {
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}
