* {
  font-family: Arial;
  font-size: 1rem;
}

input:nth-of-type(1) {
  appearance: none;
  border: 1px solid grey;
  transition: 0.3s;
  border-radius: 0.25em;

  &:focus {
    outline: none;
    border: 1px solid red;
  }

  &:valid {
    border-image: linear-gradient(
        var(--angle, 0deg) in hsl longer hue,
        red,
        red,
        red
      )
      1;

    animation-name: draaien;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes draaien {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
