header {
  margin: 2rem;
  padding: 0.25rem;
  background-color: var(--bg-secondary);
  border-radius: 5rem;

  ul {
    display: flex;
    justify-content: space-evenly;

    li {
      list-style: none;

      a {
        display: flex;
        justify-content: center;
        width: 8rem;
        padding: 0.5rem;
        color: var(--text-secondary);
        text-decoration: none;
        border-radius: 1rem;

        &:hover,
        &:focus-visible {
          background-color: var(--bg-tertiary);
        }
      }
    }
  }
}
