header {
  display: flex;
  justify-content: center;
  padding: 2rem;

  nav {
    background-color: var(--bg-secondary);
    border-radius: 5rem;
    padding: 0.5rem;
    box-shadow: var(--shadow-primary);

    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0;
      margin: 0;
      list-style: none;

      a {
        display: block;
        padding: 0.5rem 1rem;
        color: var(--text-secondary);
        text-decoration: none;
        border-radius: 1rem;

        &:hover,
        &:focus-visible,
        &.nav-active {
          background-color: var(--bg-tertiary);
        }
      }
    }
  }
}
