.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;

  .profile-picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .name {
    font-size: 4.75rem; /*Add clamp later*/
    text-align: center;
  }

  .bio {
    font-size: 1.5rem;
  }

  .call-to-action,
  .socials {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
    height: 40px;
  }

  .call-to-action {
    a {
      color: white;
      text-decoration: none;
      border: 1px solid white;
      border-radius: 5rem;
      padding: 0.5rem 1rem;
    }
  }

  .socials {
    a {
      display: block;
      height: 40px;

      img {
        height: 100%;
      }
    }
  }

  .arrow-down {
    height: 40px;
    position: absolute;
    bottom: 25px;
  }
}
