/* HEADER */
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 1.5rem 1rem;

  a {
    color: var(--text-muted);
    text-decoration: none;
    border-radius: 0.5rem;

    &:hover {
      color: var(--text);
    }
  }

  .theme-switch {
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--text-muted);
    margin-left: auto;
  }
}

/* HERO SECTION */
.hero-section {
  display: grid;
  gap: 1rem;

  .hero-section-header {
    display: grid;
    align-items: center;
    grid-template-areas:
      "profile-picture name"
      "profile-picture job-title"
      "profile-picture location";

    .profile-picture {
      background-color: var(--text);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      grid-area: profile-picture;
    }

    .name {
      font-size: var(--font-l);
      color: var(--text);
      grid-area: name;
    }

    .job-title {
      font-size: var(--font-m);
      grid-area: job-title;
    }

    .location {
      font-size: var(--font-s);
      font-style: normal;
      grid-area: location;
    }
  }

  .description {
    color: var(--text);
  }

  .icon-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      display: inline-flex;
    }
  }

  .github-icon,
  .linkedin-icon,
  .email-icon {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;

    &:hover {
      color: var(--text);
    }
  }

  .resume-button {
    border: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--bg);
    padding: 0.5rem 1rem;
    font-size: var(--font-s);
    color: var(--text);
    cursor: pointer;

    &:hover {
      background-color: var(--bg-light);
    }

    .resume-icon {
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      color: var(--text);
    }
  }
}

/* TECH STACK */
.tech-stack {
  display: grid;
  gap: 0.5rem;
  .technology-list {
    display: grid;
    gap: 0.5rem;

    .technology-item {
      border-radius: 0.5rem;
      background-color: var(--bg);
      padding: 0.5rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      color: var(--text);
      font-weight: bold;

      .technology-logo {
        width: 3rem;
        height: 3rem;
        background-color: var(--bg-light);
        border-radius: 0.25rem;
      }
    }
  }
}

.projects {
  display: grid;
  gap: 0.5rem;

  .project {
    background-color: var(--bg);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: grid;
    gap: 0.5rem;

    .project-preview {
      aspect-ratio: 16 / 9;
      background-color: var(--bg-light);
      border-radius: 0.25rem;
    }

    .project-title {
      color: var(--text);
      font-size: var(--font-m);
    }

    .pills-wrapper {
      display: flex;
      gap: 0.5rem;

      .pill {
        background-color: var(--bg-light);
        border-radius: 99rem;
        padding: 0.25rem 0.5rem;
        font-size: var(--font-xs);
      }
    }
    .project-link-wrapper {
      display: flex;
      gap: 1rem;

      .website-link,
      .github-link {
        display: flex;
        gap: 0.5rem;
        width: fit-content;
        background-color: var(--bg-light);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        color: var(--text);

        &:hover {
          background-color: oklch(0.4 0 0);
        }

        .website-icon,
        .github-icon {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}

footer {
  display: flex;
  gap: 1rem;
  padding: 1rem 1.5rem;

  a {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;

    svg {
      width: 1.5rem;
      height: 1.5rem;

      &:hover {
        color: var(--text);
      }
    }
  }

  .linkedin-link {
    margin-left: auto;
  }
}
