html {
  color-scheme: light dark;

  --bg-primary: light-dark(oklch(90% 0 0), oklch(10% 0 0));
  --bg-secondary: light-dark(oklch(95% 0 0), oklch(20% 0 0));
  --bg-tertiary: light-dark(oklch(100% 0 0), oklch(30% 0 0));

  --text-primary: light-dark(oklch(5% 0 0), oklch(95% 0 0));
  --text-secondary: light-dark(oklch(25% 0 0), oklch(75% 0 0));

  --font-size-s: 1rem;
}

* {
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--bg-primary);
}